$img-bg: hsl(51, 91%, 58%);
$quote-bg: #0177bc;
$main-bg: hsl(200, 68%, 74%);

:root {
	--btn-primary: hsl(0, 0%, 91%);
	--btn-secondary: #bc4601;
	--white: #fff;
	--dark: #222;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	width: 100%;
}
body {
	background-color: $main-bg;
}

.container {
	margin: 0 auto;
	max-width: 375px;
	padding: 1rem;
}

.filter,
.sort {
	input,
	select {
		padding: 10px;
		border: 2px solid #ccc;
		border-radius: 5px;
		font-size: 16px;
		color: #555;
		outline: none;
		&:focus {
			border-color: #007bff;
			box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
		}
	}
}

.card {
	color: #fff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
	width: 100%;
	margin-bottom: 1.5rem;
	.image {
		position: relative;
		background-color: $img-bg;
		height: 300px;
		overflow: hidden;
		padding: 1rem;
		img {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			width: 270px;
			height: auto;
		}
	}
	.quote {
		background-color: $quote-bg;
		padding: 1rem;
		position: relative;

		h2 {
			font-size: 1em;
			margin-block: 1rem;
			&::before {
				content: "- ";
			}
		}
		p {
			font-style: italic;
			font-size: 1.5em;
			margin-block: 1rem;
			span {
				position: absolute;
				opacity: 0.2;
				left: 0;
				top: 1rem;
				font-size: 90px;
				line-height: 0.6em;
			}
		}

		.controls {
			button {
				cursor: pointer;
				border: 0;
				font-size: 1em;
				padding: 0.5rem;
				width: 100px;
				margin-right: 1rem;
				color: var(--bnt-colour);
				background-color: var(--btn-bgcolour);
				border-radius: 5px;
				box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
				transition: all 300ms ease;
			}
			.like {
				--btn-bgcolour: var(--btn-primary);
				--bnt-colour: var(--dark);
				&:hover {
					--btn-bgcolour: #cbcbcb;
				}
				&.liked {
					--btn-bgcolour: #01bca4;
				}
			}
			.delete {
				--bnt-colour: var(--white);
				--btn-bgcolour: var(--btn-secondary);
				&:hover {
					--btn-bgcolour: #a44006;
				}
			}
		}
	}
}

@media screen and (min-width: 600px) {
	.container {
		max-width: 800px;
	}

	.card {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 2fr;

		.image {
			grid-row: 1 / -1;
			min-height: 300px;
			align-self: stretch;
			height: auto;
			img {
				position: absolute;
				left: 0;
				transform: none;
				max-width: 100%;
				height: auto;
			}
		}

		.quote {
			padding: 1rem;
			min-height: 100px;
			overflow: auto;

			display: flex;
			flex-direction: column;
			justify-content: center;
			p {
				position: relative;
				span {
					top: -20px;
					left: -20px;
				}
			}
		}

		&.right {
			grid-template-columns: 2fr 1fr;
			.image {
				grid-column: 2 / 3;
			}
		}
	}
}
